/* 
Kena make sure nama css sama dengan ref=
letak styles.css dalam folder yangsama
*/

ul.menu {
  list-style-type: none;
  margin: 10px;
  padding: 15px;
}
ul.menu li {
  display: inline-block;
}

ul.menu li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #000;
} 
h1{
  margin: 15px;
  color: black;
  font-size: 40px;
  font-family: sans-serif;
}
h2{
  margin: 15px;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}
p{
  margin: 15px;
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}
img {
  margin: 15px;
}